
<div class="pl-5 pb-2 mt-4 mb-2 border-bottom">
    <h1>I SMART</h1>
</div>
<div class="card-header bg-dark text-light">Header</div>

<div class="container-fluid">
    <div class="row py-4">
        <div class="col-sm-3">
            <app-transaction-form></app-transaction-form>
        </div>
        <div class="col-sm-9">
            <div class="row mb-4">
                <div class="col-sm"><app-view-transaction (formValuesOut)="fetchTransactions($event)"></app-view-transaction></div>
            </div>
            <div class="row">
                <div class="col-sm-7"><app-expenditure-list [userSelection]="userSelectionObject"></app-expenditure-list></div>
                <div class="col-sm-5"><app-spend-analysis 
                    [userSelection]="userSelectionObject"
                    [pieChartLabels]="pieChartLabels"
                    [pieChartData]="pieChartData"
                    ></app-spend-analysis>
                </div>
            </div>
        </div>
    </div>
</div>

<div class="card-footer bg-dark text-light">Footer</div>